selenium
pillow
datetime
bs4
requests
pyautogui
argparse
pytesseract
pandas
pytest
pytest-shutil
pyMongo
pybase64
datetime
mailbox
pysftp
numpy
nltk
nupic
ramp
pipenv
bob
pybrain
milk
dash
sympy
hebel
chainer
opencv-python
sqlalchemy
scipy
ipython
matplotlib
scikit-learn
Theano
TensorFlow
Scrapy
Pattern
Seaborn
bokeh
networkx
pytorch
keras
pygame
peewee
pytk
pytrends
prolog
praw
imageio-ffmpeg
gTTs
